.frame-child54 {
  position: absolute;
  top: calc(50% - 655.5px);
  left: calc(50% - 511.5px);
  background-color: rgba(255, 255, 255, 0.95);
  width: 1024px;
  height: 1311px;
}
.shape-with-text10 {
  position: relative;
  background-color: #666;
  width: 1025px;
  height: 428px;
}
.menu {
  font-size: 18px;
  color: #fff;
}
.menu,
.promotions {
  margin: 0;
}
.menu-promotions-combo-container {
  position: absolute;
  top: 21px;
  left: 56px;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
}
.follow-us-facebook-container,
.my-account-track-container,
.support-terms-container {
  position: absolute;
  top: 21px;
  left: 363px;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
}
.follow-us-facebook-container,
.support-terms-container {
  left: 587px;
}
.follow-us-facebook-container {
  left: 811px;
}
.shape-with-text-parent4 {
  position: absolute;
  top: calc(50% + 227.5px);
  left: calc(50% - 512.5px);
  width: 1025px;
  height: 428px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
.my-account1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.01em;
  line-height: 24px;
  display: inline-block;
  width: 115px;
  height: 28px;
}
.track-order2 {
  margin-bottom: 0;
}
.track-order1 {
  margin: 0;
  padding-left: 21px;
}
.track-order-order-container {
  position: absolute;
  top: 41px;
  left: 10px;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-family: inherit;
  display: inline-block;
  width: 171px;
  height: 277px;
}
.my-account-parent {
  position: absolute;
  top: calc(50% - 494.5px);
  left: calc(50% - 452.5px);
  width: 181px;
  height: 318px;
}
.icon-profile-blue-1 {
  position: absolute;
  top: 0;
  left: 540px;
  width: 27px;
  height: 26px;
  object-fit: cover;
}
.frame-child55,
.frame-child56,
.frame-child57 {
  position: absolute;
  top: 1.5px;
  left: 51.5px;
  width: 1px;
  height: 25px;
}
.frame-child56,
.frame-child57 {
  top: 4.5px;
  left: 817px;
}
.frame-child57 {
  left: 722px;
}
.english {
  top: 2px;
  left: 0;
}
.english,
.guest-order,
.phan-l-thanh,
.ting-vit,
.track-my-order {
  position: absolute;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.ting-vit {
  top: 2px;
  left: 57px;
}
.guest-order,
.phan-l-thanh,
.track-my-order {
  top: 5px;
}
.phan-l-thanh {
  left: 575px;
  font-weight: 600;
}
.guest-order,
.track-my-order {
  left: 729px;
}
.track-my-order {
  left: 825px;
}
.icon-profile-blue-1-parent {
  position: absolute;
  top: calc(50% - 631.5px);
  left: calc(50% - 461.5px);
  width: 926px;
  height: 29px;
  text-align: center;
  font-size: 14px;
}
.x1-x1 {
  top: calc(50% - 235.5px);
  left: calc(50% - 248.5px);
  color: #0099e7;
  display: inline-block;
  width: 41px;
  height: 125px;
}
.my-favorite,
.show-all,
.x1-x1 {
  position: absolute;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.my-favorite {
  top: 0;
  left: 0;
  font-size: 36px;
  display: inline-block;
  width: 230px;
  height: 23px;
}
.show-all {
  top: 10px;
  left: 607px;
}
.frame-child58,
.frame-child59 {
  position: absolute;
  top: 55px;
  left: 2px;
  background-color: #fff;
  width: 739px;
  height: 170px;
}
.frame-child59 {
  top: 189px;
  left: 607px;
  border-radius: 10px;
  background-color: #0099e7;
  width: 116px;
  height: 30px;
}
.beef-burger-chicken-container,
.x1-x2-x5-container {
  position: absolute;
  top: 75px;
  left: 70px;
  letter-spacing: -0.01em;
  line-height: 24px;
  display: inline-block;
  width: 161px;
  height: 170px;
}
.x1-x2-x5-container {
  left: 23px;
  color: #0099e7;
  width: 68px;
  height: 150px;
}
.blank-line50 {
  margin: 0;
  color: #0099e7;
}
.re-order,
.vnd-80000-vnd-container {
  position: absolute;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.vnd-80000-vnd-container {
  top: 75px;
  left: 343px;
  display: inline-block;
  width: 161px;
  height: 170px;
}
.re-order {
  top: 192px;
  left: 607px;
  font-family: "Inria Sans";
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 23px;
}
.frame-child60,
.frame-child61 {
  position: absolute;
  top: 397px;
  left: 2px;
  background-color: #fff;
  width: 739px;
  height: 170px;
}
.frame-child61 {
  top: 532px;
  left: 607px;
  border-radius: 10px;
  background-color: #0099e7;
  width: 116px;
  height: 30px;
}
.chicken-nugget-chicken-container {
  position: absolute;
  top: 417px;
  left: 70px;
  letter-spacing: -0.01em;
  line-height: 24px;
  display: inline-block;
  width: 161px;
  height: 170px;
}
.x1-x1-x3-container {
  top: 417px;
  left: 23px;
  color: #0099e7;
  display: inline-block;
  width: 58px;
  height: 169px;
}
.re-order1,
.vnd-40000-vnd-container,
.x1-x1-x3-container {
  position: absolute;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.vnd-40000-vnd-container {
  top: 417px;
  left: 343px;
  display: inline-block;
  width: 161px;
  height: 169px;
}
.re-order1 {
  top: 532px;
  left: 607px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 30px;
}
.frame-child62,
.frame-child63 {
  position: absolute;
  top: 239px;
  left: 2px;
  background-color: #fff;
  width: 739px;
  height: 145px;
}
.frame-child63 {
  top: 349px;
  left: 607px;
  border-radius: 10px;
  background-color: #0099e7;
  width: 116px;
  height: 30px;
}
.happy-meals-combo-container {
  top: 259px;
  left: 70px;
  display: inline-block;
  width: 161px;
  height: 125px;
}
.happy-meals-combo-container,
.re-order2,
.vnd-189000-vnd-container {
  position: absolute;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.vnd-189000-vnd-container {
  top: 259px;
  left: 343px;
  display: inline-block;
  width: 161px;
  height: 125px;
}
.re-order2 {
  top: 349px;
  left: 607px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 30px;
}
.my-favorite-parent {
  position: absolute;
  top: calc(50% - 494.5px);
  left: calc(50% - 271.5px);
  width: 741px;
  height: 587px;
}
.frame-child64 {
  position: absolute;
  top: 1px;
  left: 754px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  width: 173px;
  height: 54px;
}
.shape-with-text11 {
  position: relative;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 752px;
  height: 55px;
}
.frame-child65 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px 0 0 5px;
  background-color: #0099e7;
  width: 186px;
  height: 55px;
}
.screen-shot-2019-02-26-at-100-icon {
  position: absolute;
  top: 7px;
  left: 11px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.frame-child66,
.frame-child67,
.frame-child68 {
  position: absolute;
  top: -0.5px;
  left: 379.5px;
  width: 1px;
  height: 56px;
}
.frame-child67,
.frame-child68 {
  left: 541.5px;
}
.frame-child68 {
  left: 752.5px;
}
.menu1 {
  position: absolute;
  top: 17px;
  left: 214px;
  letter-spacing: -0.01em;
  line-height: 24px;
  display: inline-block;
  width: 132px;
}
.mcdelivery {
  top: 17px;
  left: 31px;
  font-size: 24px;
  width: 163px;
}
.mcdelivery,
.my-account2,
.offer,
.support1 {
  position: absolute;
  letter-spacing: -0.01em;
  line-height: 24px;
  display: inline-block;
}
.offer {
  top: 15px;
  left: 395px;
  width: 132px;
}
.my-account2,
.support1 {
  width: 160px;
}
.my-account2 {
  top: 17px;
  left: 567px;
  color: #f8c713;
}
.support1 {
  top: 15px;
  left: 753px;
}
.rectangle-parent2 {
  position: absolute;
  top: calc(50% - 590.5px);
  left: calc(50% - 463.5px);
  width: 927px;
  height: 55px;
  text-align: center;
  font-size: 27px;
  color: #fff;
  font-family: "Inria Sans";
}
.rectangle-frame {
  position: relative;
  width: 100%;
  height: 1311px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Inter;
}
