.frame-child22,
.frame-child23 {
  position: absolute;
  top: 349px;
  left: 2px;
  background-color: var(--color-white);
  width: 1024px;
  height: 1369px;
}
.frame-child23 {
  top: 222px;
  left: 3px;
  height: 1637px;
}
.frame-child24 {
  position: absolute;
  top: 1858px;
  left: 3px;
  width: 1024.9px;
  height: 1.2px;
}
.lm-th-no,
.ng-a-ra,
.ray-kroc,
.vo-nm-1917 {
  position: absolute;
  top: 302px;
  left: 103px;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 417px;
}
.ng-a-ra,
.ray-kroc,
.vo-nm-1917 {
  top: 408px;
}
.ng-a-ra,
.ray-kroc {
  top: 611px;
}
.ng-a-ra {
  top: 1079px;
}
.lich-su-4-1-icon {
  position: absolute;
  top: 1218px;
  left: 3px;
  width: 1023px;
  height: 244px;
  object-fit: cover;
}
.frame-child25,
.tim-hiu-thm {
  position: absolute;
  top: 1409px;
  width: 258px;
  height: 35px;
}
.frame-child25 {
  left: 107px;
  border-radius: var(--br-xl);
  background-color: var(--primary-color);
}
.tim-hiu-thm {
  left: 108px;
  font-size: var(--font-size-sm);
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 200;
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ng-a-ra1,
.nm-1961-ti {
  font-weight: 300;
  width: 414px;
}
.ng-a-ra1 {
  position: absolute;
  top: 1289px;
  left: 107px;
  letter-spacing: -0.01em;
  line-height: 24px;
  color: var(--color-white);
  display: flex;
  align-items: center;
}
.nm-1961-ti {
  top: 1534px;
  left: 106px;
}
.lm-kinh-doanh,
.nm-1961-ti,
.nm-1961-ti1,
.ray-kroc-mun {
  position: absolute;
  letter-spacing: -0.01em;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.nm-1961-ti1 {
  top: 1705px;
  left: 482px;
  font-weight: 300;
  width: 457px;
}
.lm-kinh-doanh,
.ray-kroc-mun {
  top: 948px;
}
.ray-kroc-mun {
  left: 558px;
  font-weight: 300;
  width: 350px;
}
.lm-kinh-doanh {
  left: 103px;
  width: 417px;
}
.lm-kinh-doanh,
.nu-ti-c {
  font-weight: 300;
}
.cht-lng-dch {
  font-weight: 500;
}
.nu-ti-c-container1 {
  line-break: anywhere;
  width: 100%;
}
.nu-ti-c-container {
  position: absolute;
  top: 603px;
  left: 558px;
  letter-spacing: -0.01em;
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 350px;
}
.lich-su-1-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1027px;
  height: 222px;
  object-fit: cover;
}
.shape-with-text60 {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  width: 1025px;
  height: 207px;
}
.c-hi-ngh12,
.chinh-sach10,
.lin-h-vi11,
.tim-hiu10 {
  position: absolute;
  top: 17px;
  left: 104px;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 154px;
  height: 20px;
}
.c-hi-ngh12,
.chinh-sach10,
.lin-h-vi11 {
  left: 317px;
}
.chinh-sach10,
.lin-h-vi11 {
  left: 533px;
}
.lin-h-vi11 {
  left: 748px;
  width: 153px;
}
.cu-hoi-thng-container10,
.lich-s-mcmickeys-gii-container10,
.lin-h-phan-hi-container10,
.thng-tin-tuyn10 {
  position: absolute;
  top: 48px;
  left: 104px;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 200;
  color: var(--color-black);
  display: inline-block;
  width: 154px;
  height: 158px;
}
.cu-hoi-thng-container10,
.lin-h-phan-hi-container10,
.thng-tin-tuyn10 {
  left: 317px;
}
.cu-hoi-thng-container10,
.lin-h-phan-hi-container10 {
  left: 533px;
}
.lin-h-phan-hi-container10 {
  left: 748px;
}
.shape-with-text-parent9 {
  position: absolute;
  top: 1859px;
  left: 3px;
  width: 1025px;
  height: 207px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}
.frame-child26 {
  position: absolute;
  top: 756px;
  left: 0;
  background-color: var(--primary-color);
  width: 1028px;
  height: 102px;
}
.frame-child27 {
  position: absolute;
  top: 757px;
  left: 458px;
  width: 112px;
  height: 101px;
  object-fit: cover;
}
.cu-chuyn-ca {
  margin: 0;
}
.ai-hoc-hamburger,
.cai-kt-cua,
.cu-chuyn-ca-ray-container,
.trit-ly-c-ao-container {
  position: absolute;
  top: 249px;
  left: 103px;
  font-size: var(--font-size-mid);
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
}
.ai-hoc-hamburger,
.cai-kt-cua,
.trit-ly-c-ao-container {
  top: 889px;
}
.ai-hoc-hamburger,
.cai-kt-cua {
  top: 1481px;
  left: 107px;
}
.cai-kt-cua {
  top: 1673px;
  left: 482px;
  display: flex;
  align-items: center;
  width: 269px;
}
.ngun-gc-ca-cht-container {
  top: 1236px;
  left: 108px;
  color: var(--color-white);
}
.ngun-gc,
.ngun-gc-ca-cht-container,
.phn-thng-cho-container {
  position: absolute;
  font-size: var(--font-size-mid);
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 500;
}
.phn-thng-cho-container {
  top: 889px;
  left: 558px;
  display: inline-block;
  width: 165px;
  height: 48px;
}
.ngun-gc {
  top: 379px;
  left: 103px;
}
.cu-chuyn-v {
  margin-block-start: 0;
  margin-block-end: 3px;
  font-weight: 300;
}
.mcmickeys2 {
  margin: 0;
  font-size: var(--font-size-11xl);
  font-weight: 600;
}
.cu-chuyn-v-container {
  position: absolute;
  top: 126px;
  left: 103px;
  letter-spacing: -0.01em;
  line-height: 40px;
  color: var(--color-white);
  display: inline-block;
  width: 308px;
  font-size: var(--font-size-xl);
}
.image-6-1 {
  position: absolute;
  top: 254px;
  left: 558px;
  width: 350px;
  height: 346px;
  object-fit: cover;
}
.frame100 {
  position: absolute;
  top: 90px;
  left: 0;
  width: 1028px;
  height: 2024px;
  overflow: hidden;
}
.shape-with-text61 {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-black);
  width: 1028px;
  height: 90px;
}
.frame-child28,
.frame101 {
  position: absolute;
  top: 0;
  width: 77px;
}
.frame-child28 {
  left: 0;
  background-color: var(--color-dimgray-200);
  height: 77px;
}
.frame101 {
  left: 39px;
  height: 90px;
  overflow: hidden;
}
.frame-child29 {
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--primary-color);
  width: 160px;
  height: 47px;
  cursor: pointer;
}
.frame102,
.frame103 {
  position: absolute;
  top: 21px;
  left: 825px;
  width: 160px;
  height: 48px;
  overflow: hidden;
}
.frame103 {
  left: 701px;
  border-radius: var(--br-31xl);
  background-color: var(--primary-color);
  width: 114px;
  height: 47px;
}
.frame104,
.trang-ch10 {
  position: absolute;
  width: 77px;
}
.trang-ch10 {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  cursor: pointer;
}
.frame104 {
  top: 28px;
  left: 133px;
  height: 34px;
  overflow: hidden;
}
.thc-n8,
.tm-hiu9 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tm-hiu9 {
  top: 17px;
  left: 238px;
  color: var(--primary-color2);
  width: 75px;
  height: 56px;
}
.thc-n8 {
  top: 24px;
  left: 326px;
  width: 89px;
  height: 42px;
  cursor: pointer;
}
.frame105,
.khuyn-mi9 {
  position: absolute;
  width: 92px;
}
.khuyn-mi9 {
  top: 1px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  cursor: pointer;
}
.frame105 {
  top: 30px;
  left: 426px;
  height: 30px;
  overflow: hidden;
}
.lin-h20,
.tin-tc10 {
  position: absolute;
  top: 24px;
  left: 527px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 42px;
  cursor: pointer;
}
.lin-h20 {
  top: 27px;
  left: 614px;
  width: 77px;
  height: 36px;
}
.ca-hng10 {
  margin: 0;
  color: var(--primary-color2);
}
.giao-hng-mcmickeysdelivery-container16,
.h-thng-ca-container20 {
  position: absolute;
  top: 24px;
  left: 744px;
  font-size: var(--font-size-xs);
  text-align: left;
  display: flex;
  align-items: center;
  width: 70px;
  height: 42px;
}
.giao-hng-mcmickeysdelivery-container16 {
  top: 20px;
  left: 866px;
  width: 123px;
  height: 50px;
  cursor: pointer;
}
.frame-icon2 {
  position: absolute;
  top: 27px;
  left: 710px;
  width: 23px;
  height: 35px;
  overflow: hidden;
  object-fit: cover;
}
.frame106,
.pngwing-4-icon6 {
  position: absolute;
  width: 35px;
}
.pngwing-4-icon6 {
  top: 4px;
  left: 0;
  height: 32px;
  object-fit: cover;
}
.frame106 {
  top: 27px;
  left: 831px;
  height: 36px;
  overflow: hidden;
}
.frame107,
.n-1-icon9 {
  position: absolute;
  top: 0;
  width: 77px;
}
.n-1-icon9 {
  left: 0;
  height: 77px;
  object-fit: cover;
}
.frame107 {
  left: 38px;
  height: 90px;
  overflow: hidden;
}
.shape-with-text-parent10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1028px;
  height: 90px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.tm-hiu8 {
  position: relative;
  width: 100%;
  height: 2160px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
