.tuyn-dng-child {
  position: absolute;
  top: 4px;
  left: 1px;
  background-color: var(--color-white);
  width: 1024px;
  height: 2292px;
}
.tuyn-dng-item {
  position: absolute;
  top: 2088px;
  left: 0;
  width: 1024.9px;
  height: 1.2px;
}
.shape-with-text44 {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-silver-300);
  width: 1025px;
  height: 207px;
}
.c-hi-ngh4,
.chinh-sach3,
.lin-h-vi4,
.tim-hiu3 {
  position: absolute;
  top: 2107px;
  left: 120px;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-gray-500);
  display: inline-block;
  width: 154px;
  height: 20px;
}
.c-hi-ngh4,
.chinh-sach3,
.lin-h-vi4 {
  left: 333px;
}
.chinh-sach3,
.lin-h-vi4 {
  left: 549px;
}
.lin-h-vi4 {
  left: 764px;
  width: 153px;
}
.cu-hoi-thng-container3,
.lich-s-mcmickeys-gii-container3,
.lin-h-phan-hi-container3,
.thng-tin-tuyn3 {
  position: absolute;
  top: 2138px;
  left: 120px;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 200;
  display: inline-block;
  width: 147px;
  height: 158px;
}
.cu-hoi-thng-container3,
.lin-h-phan-hi-container3,
.thng-tin-tuyn3 {
  left: 333px;
}
.cu-hoi-thng-container3,
.lin-h-phan-hi-container3 {
  left: 549px;
}
.lin-h-phan-hi-container3 {
  left: 764px;
}
.mcmickeys-vit-nam {
  margin: 0;
}
.mcmickeys-vit-nam-container1 {
  line-break: anywhere;
  width: 100%;
}
.mcmickeys-vit-nam-container {
  position: absolute;
  top: 492px;
  left: 272px;
  font-size: var(--font-size-sm);
  text-align: center;
  display: flex;
  align-items: center;
  width: 482px;
  height: 92px;
}
.benefit-1-icon {
  position: absolute;
  top: 1139px;
  left: 1px;
  width: 1024px;
  height: 379px;
  object-fit: cover;
}
.loi-vic,
.v-tr {
  position: absolute;
  top: 1576px;
  left: 219px;
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  width: 77px;
  height: 21px;
}
.loi-vic {
  left: 559px;
}
.nhn-vin-phc {
  margin-bottom: 0;
}
.nhn-vin-phc-v {
  margin: 0;
  padding-left: var(--padding-2xl);
}
.full-timeton-thi-container,
.nhn-vin-phc-container {
  position: absolute;
  top: 1612px;
  left: 219px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  display: flex;
  align-items: center;
  width: 284px;
  height: 376px;
}
.full-timeton-thi-container {
  left: 559px;
  height: 112px;
}
.apply-filter,
.tuyn-dng-inner {
  position: absolute;
  top: 1994px;
  left: 717px;
  width: 126px;
  height: 45px;
  cursor: pointer;
}
.tuyn-dng-inner {
  border-radius: var(--br-3xs);
}
.apply-filter {
  font-size: var(--font-size-mid);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shape-with-text45 {
  position: relative;
  background-color: var(--color-black);
  width: 1024px;
  height: 90px;
}
.tuyn-dng-child1,
.tuyn-dng-child2 {
  position: absolute;
  top: 0;
  left: 40px;
  background-color: var(--color-dimgray-200);
  width: 77px;
  height: 77px;
}
.tuyn-dng-child2 {
  top: 19px;
  left: 878px;
  border-radius: var(--br-31xl);
  background-color: var(--primary-color);
  width: 114px;
  height: 47px;
}
.tuyn-dng-child3 {
  position: absolute;
  top: 37.7px;
  left: 629.1px;
  width: 52.9px;
  height: 19.5px;
  opacity: 0.2;
}
.trang-ch3 {
  position: absolute;
  top: 27px;
  left: 151px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 40px;
  cursor: pointer;
}
.ca-hng3 {
  margin: 0;
  color: var(--primary-color2);
}
.h-thng-ca-container6 {
  position: absolute;
  top: 21px;
  left: 921px;
  font-size: var(--font-size-xs);
  display: flex;
  align-items: center;
  width: 70px;
  height: 42px;
  color: var(--color-white);
}
.pngwing-1-icon {
  position: absolute;
  top: 24px;
  left: 887px;
  width: 23px;
  height: 35px;
  object-fit: cover;
}
.banner-cover-1-icon,
.n-1-icon1,
.n-2-icon {
  position: absolute;
  top: 0;
  left: 39px;
  width: 77px;
  height: 77px;
  object-fit: cover;
}
.banner-cover-1-icon,
.n-2-icon {
  top: 90px;
  left: 1px;
  width: 1024px;
  height: 369px;
}
.n-2-icon {
  top: 264px;
  left: 482px;
  width: 77px;
  height: 77px;
}
.tuyn-dng-child4,
.tuyn-dng-child5 {
  position: absolute;
  top: 90px;
  left: 535px;
  background-color: var(--color-white);
  width: 132px;
  height: 152px;
}
.tuyn-dng-child5 {
  top: 1123px;
  left: 1px;
  width: 1024px;
  height: 122px;
}
.c-hi-ngh5,
.chng-trinh-o1,
.l-trnh-thng1,
.nhng-li-th,
.vn-ha-cng1 {
  position: absolute;
  top: 1123px;
  left: 185px;
  font-size: var(--font-size-13xl);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 665px;
  height: 122px;
}
.c-hi-ngh5,
.chng-trinh-o1,
.l-trnh-thng1,
.vn-ha-cng1 {
  top: 27px;
  left: 262px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  width: 125px;
  height: 40px;
}
.chng-trinh-o1,
.l-trnh-thng1,
.vn-ha-cng1 {
  top: 26px;
  left: 422px;
  width: 120px;
}
.chng-trinh-o1,
.vn-ha-cng1 {
  left: 577px;
  width: 138px;
}
.vn-ha-cng1 {
  left: 751px;
  width: 100px;
}
.soi-dong-22-1-icon,
.work-1-icon {
  position: absolute;
  top: 597px;
  left: 1px;
  width: 1024px;
  height: 529px;
  object-fit: cover;
}
.soi-dong-22-1-icon {
  top: 950px;
  left: 64px;
  width: 324px;
  height: 157px;
}
.tuyn-dng {
  position: relative;
  width: 100%;
  height: 2296px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
